body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:975px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:975px;
}
#u1 {
  position:absolute;
  left:2px;
  top:480px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1198px;
  top:51px;
  width:54px;
  height:51px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:44px;
  top:51px;
  width:150px;
  height:54px;
  overflow:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:54px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:1138px;
  top:51px;
  width:54px;
  height:51px;
  overflow:hidden;
}
#u4_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:897px;
  top:350px;
  width:220px;
  height:280px;
  overflow:hidden;
}
#u5_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:942px;
  top:515px;
  width:128px;
  height:40px;
  overflow:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1028px;
  overflow:hidden;
  visibility:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1028px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:1079px;
  top:39px;
  visibility:hidden;
}
#u9_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:151px;
  color:#000000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:151px;
}
#u11 {
  position:absolute;
  left:2px;
  top:68px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:62px;
  top:13px;
  width:50px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:37px;
  top:12px;
  width:100px;
  height:53px;
  overflow:hidden;
}
#u14_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:10px;
  top:82px;
  width:150px;
  height:18px;
  font-family:'Colaborate-Bold', 'Colaborate-Bold';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#F2F2F2;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:12px;
  top:110px;
  width:150px;
  height:18px;
  font-family:'Colaborate-Bold', 'Colaborate-Bold';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#F2F2F2;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1089px;
  overflow:hidden;
  visibility:hidden;
}
#u20_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1089px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:990px;
  top:-1px;
  width:310px;
  height:1091px;
  overflow:hidden;
  visibility:hidden;
}
#u21_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:1091px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:330px;
  height:1120px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:1120px;
}
#u23 {
  position:absolute;
  left:2px;
  top:552px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:35px;
  top:177px;
  width:240px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:4px;
  width:240px;
  height:2px;
}
#u25 {
  position:absolute;
  left:216px;
  top:45px;
  width:40px;
  height:58px;
  font-size:60px;
  color:#FF5246;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:58px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:53px;
  top:101px;
  width:40px;
  height:14px;
  font-family:'Colaborate-Regular', 'Colaborate-Regular';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:15px;
  top:245px;
  width:280px;
  height:25px;
  font-family:'Colaborate-Bold', 'Colaborate-Bold';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#F2F2F2;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:15px;
  top:303px;
  width:280px;
  height:25px;
  font-family:'Colaborate-Bold', 'Colaborate-Bold';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#F2F2F2;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
}
#u31_img.mouseOver {
}
#u31.mouseOver {
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:15px;
  top:359px;
  width:280px;
  height:25px;
  font-family:'Colaborate-Bold', 'Colaborate-Bold';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#F2F2F2;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
}
#u33_img.mouseOver {
}
#u33.mouseOver {
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:15px;
  top:416px;
  width:280px;
  height:25px;
  font-family:'Colaborate-Bold', 'Colaborate-Bold';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#F2F2F2;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
}
#u35_img.mouseOver {
}
#u35.mouseOver {
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:15px;
  top:473px;
  width:280px;
  height:25px;
  font-family:'Colaborate-Bold', 'Colaborate-Bold';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#F2F2F2;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:50px;
  top:36px;
  width:44px;
  height:60px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:60px;
}
#u40 {
  position:absolute;
  left:2px;
  top:22px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:48px;
  top:36px;
  width:48px;
  height:80px;
  overflow:hidden;
}
#u41_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u41_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:974px;
  width:1300px;
  height:181px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:181px;
}
#u44 {
  position:absolute;
  left:2px;
  top:82px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
