body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1300px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1512px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1512px;
}
#u1 {
  position:absolute;
  left:2px;
  top:748px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1512px;
  overflow:hidden;
  visibility:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:1512px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:1005px;
  top:-11px;
  width:295px;
  height:1523px;
  overflow:hidden;
  visibility:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:1523px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:-10px;
  top:-10px;
  width:320px;
  height:1550px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:1550px;
}
#u5 {
  position:absolute;
  left:2px;
  top:767px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:190px;
  width:240px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:223px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:4px;
  width:240px;
  height:2px;
}
#u7 {
  position:absolute;
  left:200px;
  top:54px;
  width:40px;
  height:58px;
  font-size:60px;
  color:#FF5246;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:58px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:241px;
  width:280px;
  height:25px;
  font-family:'Colaborate-Bold', 'Colaborate-Bold';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#F2F2F2;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:299px;
  width:280px;
  height:25px;
  font-family:'Colaborate-Bold', 'Colaborate-Bold';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#F2F2F2;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:355px;
  width:280px;
  height:25px;
  font-family:'Colaborate-Bold', 'Colaborate-Bold';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#F2F2F2;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
}
#u13_img.mouseOver {
}
#u13.mouseOver {
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:412px;
  width:280px;
  height:25px;
  font-family:'Colaborate-Bold', 'Colaborate-Bold';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#F2F2F2;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
}
#u15_img.mouseOver {
}
#u15.mouseOver {
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:469px;
  width:280px;
  height:25px;
  font-family:'Colaborate-Bold', 'Colaborate-Bold';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  color:#F2F2F2;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:45px;
  top:45px;
  width:44px;
  height:60px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:60px;
}
#u20 {
  position:absolute;
  left:2px;
  top:22px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:47px;
  top:111px;
  width:40px;
  height:14px;
  font-family:'Colaborate-Regular', 'Colaborate-Regular';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:45px;
  top:45px;
  width:44px;
  height:80px;
  overflow:hidden;
}
#u23_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:1077px;
  top:38px;
  visibility:hidden;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:151px;
  color:#000000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:151px;
}
#u26 {
  position:absolute;
  left:2px;
  top:68px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:62px;
  top:13px;
  width:50px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:37px;
  top:12px;
  width:100px;
  height:53px;
  overflow:hidden;
}
#u29_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:53px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30 {
  position:absolute;
  left:10px;
  top:82px;
  width:150px;
  height:18px;
  font-family:'Colaborate-Bold', 'Colaborate-Bold';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#F2F2F2;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:12px;
  top:110px;
  width:150px;
  height:18px;
  font-family:'Colaborate-Bold', 'Colaborate-Bold';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#F2F2F2;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:18px;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:1199px;
  top:51px;
  width:54px;
  height:50px;
  overflow:hidden;
}
#u34_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u34_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35 {
  position:absolute;
  left:44px;
  top:50px;
  width:150px;
  height:51px;
  overflow:hidden;
}
#u35_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:51px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u35_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:1138px;
  top:51px;
  width:54px;
  height:50px;
  overflow:hidden;
}
#u36_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u36_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:270px;
  top:551px;
  width:220px;
  height:180px;
  overflow:hidden;
}
#u37_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:180px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:545px;
  top:551px;
  width:220px;
  height:180px;
  overflow:hidden;
}
#u38_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:180px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u38_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:821px;
  top:551px;
  width:220px;
  height:180px;
  overflow:hidden;
}
#u39_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:180px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:320px;
  top:710px;
  width:120px;
  height:40px;
  overflow:hidden;
}
#u40_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:590px;
  top:710px;
  width:130px;
  height:40px;
  overflow:hidden;
}
#u41_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u41_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:869px;
  top:710px;
  width:125px;
  height:40px;
  overflow:hidden;
}
#u42_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
